.cart{
    display: flex;
   
}
.image{
    height: 86px;
    margin: 5px;
}
.title{
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.quantity{
    margin: 25px;
    display: flex;
    align-items: center;
}
.price{
    margin: 25px;
    display: flex;
    align-items: center;
}
.button{
    margin: 25px;
    border: none;
  border-radius: 50%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background: grey;
}