header{
    display: flex;
    padding: 10px;
    font-size: 18px;
    font-weight: 200;
    justify-content: center;
    list-style-type: none;
    border-bottom: 0.1rem solid white;
    position: fixed;
    top: 0%;
    background: black;
    width: 100%;
    z-index: 1;
}
.flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  .shopping-card {
    justify-content: space-between;
    color: white;
    background-color:black;
    padding: 20px 30px;
  }
  
  .product-item {
    padding: 20px;
  }
  .generics{
    font-size: 60px;
    text-align: center;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  flex-basis: 65%;
  color:white;
  background: grey;
  }